body {
  background: white;
  width: 100%;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important; }
  body .container {
    padding: 0;
    margin: 0;
    overflow: auto; }

.wrapper {
  overflow: hidden; }

.thank-text {
  width: 50%;
  margin: 0 auto;
  padding-top: 5%; }

.thank-text p {
  color: white;
  margin-top: 0px; }

.thankscanvas {
  background-color: #4d4d4f; }

.button-set {
  margin-top: 20% !important;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10%; }

.thank-button {
  border-style: solid;
  background-color: #f37c4c;
  border-color: #f37c4c;
  border-width: 1px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  line-height: 1.667;
  border-radius: 2px;
  height: 50px; }

button.download-button {
  background-color: #f37c4c;
  border-width: 1px;
  border-style: solid;
  border-color: #f37c4c;
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  line-height: 1.667;
  border-radius: 2px; }

@media screen and (device-aspect-ratio: 40 / 71) {
  .wrapper {
    width: 230px !important;
    margin-left: 25%; }
  .wrapper-1 {
    width: 230px;
    margin: 0 auto; }
  .count p {
    font-size: 15px; }
  .through p {
    font-size: 11px; }
  img.hero-img {
    height: 100%;
    margin-left: -10px; } }

@media (max-width: 459px) {
  .wrapper {
    width: 260px;
    margin-left: 25%; }
  .leftrec {
    width: 25%; }
  .rightrec {
    left: 25%;
    width: 75%; }
  .wrapper-1 {
    width: 260px;
    margin: 0 auto; }
  .thank-text {
    width: 85%;
    font-size: 10px; }
  .thank-button {
    font-size: 9px; } }

@media (min-width: 460px) and (max-width: 767px) {
  .wrapper {
    width: 360px;
    margin-left: 25%; }
  .leftrec {
    width: 25%; }
  .rightrec {
    left: 25%;
    width: 75%; }
  .wrapper-1 {
    width: 360px;
    margin: 0 auto; }
  .thank-text {
    width: 90%; } }

@media (min-width: 768px) {
  .wrapper {
    width: 600px;
    margin-left: 20%; }
  .leftrec {
    width: 20%; }
  .rightrec {
    left: 20%;
    width: 80%; }
  .wrapper-1 {
    width: 600px;
    margin: 0 auto; }
  .thank-text {
    width: 85%; } }

@media (min-width: 992px) {
  .wrapper {
    width: 800px;
    margin-left: 20%; }
  .leftrec {
    width: 20%; }
  .rightrec {
    left: 20%;
    width: 80%; }
  .thank-text {
    width: 85%; } }

@media (min-width: 1200px) {
  .wrapper {
    width: 1080px;
    margin-left: 40%; }
  .leftrec {
    width: 40%; }
  .rightrec {
    left: 40%;
    width: 60%; }
  .wrapper-1 {
    width: 1080px;
    margin: 0 auto; } }

@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .wrapper {
    width: 1080px;
    margin-left: 20%; }
  .leftrec {
    width: 20%; }
  .rightrec {
    left: 20%;
    width: 80%; }
  .wrapper-1 {
    width: 1080px;
    margin: 0 auto; } }
